<li id="entry-<%= entry.id %>">
  <%= link_to gravatar_for(entry.user, size: 50), entry.user %>
  <span class="user"><%= link_to entry.user.name, entry.user %> - <b><%= entry.title %></b></span>
  <span class="content">
    <%= entry.content %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(entry.created_at) %> ago.
    <% if current_user?(entry.user) %>
      <%= link_to "delete", entry, method: :delete,
        data: { confirm: "You sure?" } %>
    <% end %>
  </span>

  <section class="entry_form">
  <%= render "shared/comment_form", comment: @comment, entry: entry %>
  </section>

  <div class="entry_comment">
    <% if !entry.comments.empty? %>
      <% entry.comments.each do |f| %>
      <div class="media">
        <div class="media-body">
          <span class="media-heading"><b><%= f.user.name%></b><span>
          <i><%= time_ago_in_words f.created_at %> ago.</i>
          <p><%= f.content %></p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</li>
