<%= form_for(comment, remote: true) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div><%= hidden_field_tag :entry_id, entry.id %></div>
  <div><%= hidden_field_tag :user_id, entry.user.id %></div>
  <div class="row">
    <div class="field col-md-10">
      <%= f.text_area :content, placeholder: "new comment..." %>
    </div>
    <%= f.submit "Comment", class: "btn btn-primary col-md-2" %>
  </div>
<% end %>
